{% block step_backup %}
    <div 
        class="configurator-step-wrapper">
         {% include "partials/error_msg.html.twig" %}
        <form 
            class="configurator-step-form"
            method="post"
            action="{{ configurator.post_route }}">
            <input type="hidden" name="step_id" value="{{ configurator.step_id }}">
            {% include "partials/step_indicator.html.twig" %}
            <h3>{{ configurator.title }}</h3>
            <p>{{ configurator.paragraph }}</p>
            <table class="configurator-choice-table">
                <tr>
                    <th class="name-cell" colspan="2">{{ configurator.input_backup.title }}</th>
                    <th class="price-cell">Preis</th>
                    <th class="price-info-cell">Abrechnung</th>
                </tr>
                {% for option in configurator.input_backup.options %} 
                    <tr>
                        <td class="input-cell">
                            <input 
                                type="radio" 
                                name="backup" 
                                value="{{option.id}}">
                        </td>
                        <td class="name-cell">
                            {{ option.name }}
                            <span class="info-btn" data-target="{{ option.id }}">mehr erfahren</span>
                        </td>
                        <td class="price-cell">{{ option.price.value }} €</td>
                        <td class="price-info-cell">{{ option.price.info }}</td>
                    </tr>
                    <tr style="display:none" id="hidden-info-{{ option.id }}" class="hidden-info-tr">
                        <td colspan="4">
                            {{ configurator.paragraph }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="configurator-btn-wrapper group">
                <input 
                    type="submit" 
                    name="action_back"
                    class="configurator-step-btn back-btn" 
                    value="Zurück" />
                <input 
                    type="submit" 
                    name="action_confirm" 
                    class="configurator-step-btn confirm-btn" 
                    value="Bestätigen" />
            </div>
        </form>
    </div>
{% endblock %}