{% block step_summary %}
    <div 
        class="configurator-step-wrapper">
        {% include "partials/error_msg.html.twig" %}
        <form 
            class="configurator-step-form"
            method="post"
            action="{{ configurator.post_route }}">
            <input type="hidden" name="step_id" value="{{ configurator.step_id }}">
            {% include "partials/step_indicator.html.twig" %}
            <h3>{{ configurator.title }}</h3>
            <p>{{ configurator.paragraph }}</p>
            {{ configurator.summary_table_l }}
            <div class="configurator-btn-wrapper group">
                <input 
                    type="submit" 
                    name="action_back"
                    class="configurator-step-btn back-btn" 
                    value="Zurück" />
                <input 
                    type="submit" 
                    name="action_confirm" 
                    class="configurator-step-btn confirm-btn final-btn" 
                    value="Bestätigen" />
            </div>
        </form>
    </div>
{% endblock %}